body {
    background-color: #16416b;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /* Set text color to black inside the container */
}

h1 {
    color: #000; /* Set h1 text color to black */
}
