body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #333;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
    font-size: 2.5em;
}

.eingabe-container {
    text-align: center;
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

.tabelle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
}

td input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.note-1 {
    background-color: green;
    color: white;
    font-weight: bold;
}

.note-5 {
    background-color: red;
    color: white;
    font-weight: bold;
}

.druck-container {
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 900px) {
    th, td {
        padding: 10px;
        font-size: 0.8em;
    }
}