body {
    margin: 0;
    padding: 0;
}

.impressum-container {
    background-color: #16416b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}
